* text=auto
*.cs text eol=lf
*.shader text eol=lf
*.hlsl text eol=lf
*.json text eol=lf
*.md text eol=lf
*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.mat text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.meta text eol=lf merge=unityyamlmerge
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.tga binary
*.hdr binary
*.fbx binary
*.mp4 binary
